include ../modules/_about-us-modules.pug
mixin about2()
    section.about-us
        .container
            .row
                .col-md-6
                    +figure()
                .col-md-6
                    +about_us_1("Title",["This is p"])

