include ../modules/_group-modules

mixin team_01_card()
    .team-01-card
        +figure("team-01-img","img.jpg")
        +about_us_1("team member",['asdasdsaddas'])
        +social_list("social-list-1",["ion-ios-facebook","ion-ios-facebook","ion-ios-facebook","ion-ios-facebook","ion-ios-facebook"])
