mixin blog_card_1_text(title,author,comment,para)
    .blog-card-01-text
        .header
            h4=title
            p
                |By
                span.author=author
                | #{comment}
            hr
        p=para


