mixin form_01(btn_value)
    .form-01
        form.form-inline
            .form-group
                input(type="text" class="form-control" id="inputPassword2" placeholder="Enter your email address")
                input(type="submit" class="btn btn-primary" value=btn_value)

