doctype 5
html
    head
        title
            block title
        link(rel="stylesheet",href="../final-product/lib/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet", href="../final-product/lib/owlcarousel/css/owl.carousel.css")
        link(rel="stylesheet", href="../final-product/lib/owlcarousel/css/owl.theme.css")
        link(rel="stylesheet",href="../final-product/lib/ionicons/css/ionicons.min.css")
        link(rel="stylesheet",href="../css/main.css")

    body
        block main

        block script
            script(type="text/javascript",src="../final-product/lib/jquery/jquery.min.js")
            script(type="text/javascript",src="../final-product/lib/bootstrap/js/bootstrap.min.js")
            script(type="text/javascript",src="../final-product/lib/owlcarousel/js/owl.carousel.min.js")
            script(type="text/javascript",src="../js/main.js")

