extends ../layout.pug

include ../partials/group_1.pug
include ../modules/_about-us-modules.pug
block main
    +about_us_1("header",["paragraph"])
    .row
        .col-md-4
            +team_01_card()

        .col-md-4
            +team_01_card()

        .col-md-4
            +team_01_card()



